html, body { 
  background: #f5f6f6;
} 

body { 
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0; 
  padding: 0; 
  font-size: 18px;
  color: #777;
}

h1 { 
  color: #00a87a;
  font-size: 60px;
}

h1, h2 {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.cf:after { clear:both; content:"."; display: block; height:0; visibility: hidden; line-height:0; font-size:0; }

#app {
  width: 1000px;
  margin: auto;
}

#main-header {
  padding: 20px 0;
  border-bottom: 2px solid #ddd;
}
#main-header h1,
#main-header .do-it,
#main-header .logo {
  float: left;
}
#main-header .logo {
  border-radius: 5px;
  margin-right: 20px;
  border: 3px solid #00a87a;
  opacity: 0.9;
}

#main-header .do-it {
  margin-top: -20px;
  margin-left: 20px;
}

#main-header .icon-comment:before {
  position: absolute;
  font-size: 100px;
  color: #777;
  z-index: 70;
}
#main-header .icon-comment {
  position: relative;
  width: 100px;
}
#main-header .icon-quote-left,
#main-header .icon-quote-right {
  padding-top: 20px;
  color: #aaa;
}

#main-header .icon-quote-left,
#main-header .icon-comment {
  float: left;
}
#main-header .icon-quote-right {
  float: right;
}

#main-header .icon-comment:after {
  text-transform: uppercase;
  position: absolute;
  z-index: 200;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  content: "do it";
  text-align: center;
  padding-top: 35px;
  width: 100px;
}

#main-header .instructions {
  float: right;
  padding-top: 25px;
}

main {
  padding: 40px 0;
}

.vines {
  margin: 0;
  padding: 0;
  list-style: none;
}

.vines .vine {
  float: left;
  width: 235px;
  height: 235px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.vines .vine:nth-child(4n) {
  margin-right: 0;
}

.vines .vine video {
  width: 235px;
  height: 235px;
}
